.accordion-button {
    background-color: $color-background-sec;
}

//historique

thead {
    background-color: $color-background-sec;
    td {
        border: 1px solid $color-secondary;
        text-align: center;
        padding: 0px 30px;
    }
}

tbody {
    background-color: $color-background;
    td {
        border: 1px solid $color-secondary;
        text-align: end;
        padding: 0px 30px;
        &:first-child {
            text-align: left;
        }
    }
}